<!DOCTYPE html>
<html>
<head>
  <title>TwitterOauth</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= debug(params) if Rails.env.development? %>
<%= params %>
<%= session %>
<%= yield %>

</body>
</html>
